* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2 {
  color: #333;
}

h3,
h4 {
  font-weight: 400;
  color: #646464;
}

.App {
  transition: all ease .5s;
}

.library-active {
  margin-left: 20%;
}

@import '_player';
@import '_song';
@import '_library';
@import '_nav';